pandas
matplotlib
seaborn
pytest
numpy
pyarrow
# datashader
bokeh
scipy
emcee
corner
pymultinest
dynesty
# pydelfi  # not yet used
pytest
h5py
pyfits
astropy
dill
GPy
scikit-learn==0.20.3
tqdm
pyDOE2
tensorflow>=2.1  # the right tf version is important! 
tensorflow-probability  # TODO so is the right tfp version
keras
# hyperopt
# hyperas
arviz

git+https://github.com/bd-j/sedpy
git+https://github.com/bd-j/prospector.git
git+https://github.com/dfm/python-fsps.git
