pandas
matplotlib
seaborn
pytest
numpy
pyarrow
datashader
bokeh
scipy
emcee
corner
pymultinest
dynesty
# pydelfi  # not yet used
pytest
h5py
pyfits
astropy
dill
GPy
scikit-learn==0.20.3
tqdm
pyDOE2
git+https://github.com/tomcharnock/NestorFlow.git

# ./sedpy
# ./python-fsps
# ./prospector

# from here:
# pip install -e .